.mixin.out
cache
downloads
fonts
logs
mods
resourcepacks
saves
scripts
shaderpacks
tv-cache
Xaero*
.curseclient
.ReAuth.cfg
crafttweaker.log
knownkeys.txt
minecraftinstance.json
options*
pixel.dat
servers.dat
usercache.json
usernamecache.json
WailaErrorOutput.txt