.mixin.out
cache
downloads
fonts
logs
mods
resourcepacks
saves
scripts
shaderpacks
tv-cache
Xaero*
.curseclient
.ReAuth.cfg
crafttweaker.log
knownkeys.txt
minecraftinstance.json
options*
pixel.dat
servers.dat
usercache.json
usernamecache.json
WailaErrorOutput.txt
1.12.2.json
banned-ips.json
banned-players.json
crash-reports
data
daycare
eula.txt
gts
impactor
libraries
luckperms
minecraft_server.1.12.2.jar
nucleus
ops.json
overworld*
server.jar
server.properties
whitelist.json
config/worldedit/schematics/
config/serverlistplus/PlayerCache.json
config/xaeropatreon.txt
config/luckperms/translations/*
config/gts/lang/en_us.conf