.ReAuth.cfg
.curseclient
.mixin.out
1.12.2.json
WailaErrorOutput.txt
Xaero*
banned-ips.json
banned-players.json
cache
config/gts/lang/en_us.conf
config/luckperms/translations/*
config/serverlistplus/PlayerCache.json
config/simpledexrewards/data.json
config/worldedit/schematics/
config/xaeropatreon.txt
crafttweaker.log
crash-reports
data
daycare
downloads
eula.txt
fonts
gts
impactor
knownkeys.txt
libraries
logs
luckperms
minecraft_server.1.12.2.jar
minecraftinstance.json
mods
ops.json
options*
overworld*
pixel.dat
resourcepacks
saves
scripts
server.jar
server.properties
servers.dat
shaderpacks
tv-cache
usercache.json
usernamecache.json
whitelist.json
assets
bin
versions
webcache2
launcher*
pixelc.dat
updateLog.txt
config/InvTweaks.cfg
config/chiselsandbits_clipboard.cfg
config/cooldowns.cfg
config/splash.properties
config/cooldowns.cfg
config/wecui3.yml
